.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


html {
	height: 100%;
}


body {
	min-width: 1008px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 22px;
	height: 100%;
}

.wrapper {
	position:relative;
	width: 960px;
	margin: 20px auto;
	min-height: 100%;      /**/
}

.head {
	position: relative;
	width: 100%;
	min-height: 110px;
	padding-bottom: 19px;
	border-bottom: 2px solid grey;
	margin-bottom: 23px;
}

.block1 {
	float: left;
	width: 120px;
	height: 110px;
	background: lightgrey;
	overflow:hidden;
}

.block2 {
	position: absolute;
	left: 145px;
	width: 280px;
	min-height: 110px;
	background: gray;
}

.block3 {
	float: right;
	width: 510px;
	min-height: 110px;
	background: gray;
}

.block3 .contacts {
	display: inline-block;
	color: white;
	text-align: right;
	margin: 8px 0 0 350px;

}

.block3 .contacts a {
	text-decoration: none;
	color: inherit;
}


.content {
	position: relative;
	padding-bottom: 230px;
}

.aside {
	float: left;
	width: 185px;
	padding-bottom: 137px;
}

.block4 {
	background: grey;
}

.block4 ul {
	padding: 19px 1px 19px 13px;
	margin: 0;
	list-style: none;
}

.block4 a {
	text-decoration: none;
	color: white;
}

.block4 .active {
	font-weight: bold;
}

.block7 {
	position: absolute;
	bottom: 232px;
	width: 185px;
	height: 135px;
	overflow: hidden;
}

.center {
	float: right;
	width: 755px;
}

.block5 p {
	margin: 0;
}

.block5 {
	background-color: rgb(220,220,220);
	padding: 16px 0 24px 26px;
	color: #777777;
	margin-bottom: 20px;
}

.gallery ul {
	padding: 0;
	font-size: 0;
}

.gallery-item {
	position:relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 135px;
	height: 155px;
	overflow: hidden;
}

.gallery-item img {
	position: absolute;
	margin: auto;
	top: 0; bottom: 0; right: 0; left: 0;
	max-width: 100%;
	max-height: 100%;
}

.gallery-item:nth-child(5n) {
	margin-right: 0;
}

.feature-item {
	float: left;
	width: 367px;
	min-height: 200px;
	background-color: rgb(220,220,220);
}

.feature-item:last-child {
	float: right;
}

.feature-item p {
	margin: 0;
	padding: 21px 20px 0 19px;
}

.footer {
	padding-top:25px;
	color: white;
	position: absolute;
	bottom: 0;
	border-top: 2px solid grey;
}

.block10 {
	float: left;
	margin-right: 28px;
	width: 300px;
	min-height: 180px;
	background: grey;
}

.block10 ul {
	padding-left: 25px;
	list-style:none;
	-moz-column-count: 2; /* Firefox
   -webkit-column-count: 2; /* Safari and Chrome */
   column-count: 2;
}

.block11 {
	float: left;
	width: 300px;
	min-height: 180px;
	background: grey;
}

.block11 ul {
	list-style: square;
}

.block12 {
	float: right;
	margin-bottom: 30px;
	width: 305px;
	min-height: 75px;
	background: grey;
}

.block13 {
	float: right;
	width: 305px;
	min-height: 75px;
	background: white;
	overflow: hidden;
}
